@model IEnumerable<Lab102.Models.Article>
@{
    ViewData["Title"] = "Cart";
}
<link href="css/site.css" rel="stylesheet" type="text/css" />

<h1>Cart</h1>
@if (@Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>Amount</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        <img class="thumbnail" src="@Html.DisplayFor(modelItem => item.Image)" />
                    </td>
                    <td>@ViewBag.nums[item.Id]</td>
                    <td>
                        <a asp-action="ReduceFromCart" asp-route-id="@item.Id">Reduce</a> |
                        <a asp-action="AddToCart" asp-route-id="@item.Id">Add</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <h2>Total cost: @ViewBag.totalCost</h2>
}
else
{
    <h3 style="color:red">Empty cart</h3>
}
<div>
    <br /><br />
    <a asp-action="Order" class="btn btn-primary">Place an order</a>
</div>
<div>
    <br /><br />
    <a asp-action="Index">Back to Shop</a>
</div>
